.aboutblock_v8 h1 {
  font-weight: 500;
font-size: 38px;
margin-bottom: 24px;
}

.aboutblock_v8 .aboutblock__text p {
  font-weight: 400;
font-size: 20px;
line-height: 120%;
}

.btn_rounded {
  border-radius: 555px;
  height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 48px;
}
.aboutblock_v8 .aboutblock__button {
  margin-top: 56px;
}

.aboutblock_v8 .aboutblock__content {
  align-items: center;
}
.aboutblock_v8 .aboutblock__cols {
  margin-bottom: 0;
}
.textblock_v8_lg {
  margin-bottom: 20px;
  font-weight: 400;
font-size: 26px;
line-height: 131%;
letter-spacing: -0.02em;
}
.textblock_v8 p {
  margin: 0 0 0 0;
}
.textblock_v8_light {
  font-weight: 400;
font-size: 20px;
line-height: 130%;
letter-spacing: -0.02em;
color:#7b7794;
}
.aboutblock_v8 {
  padding-bottom: 0;
}
.aboutblock_v8 .aboutblock__img  {
  margin-bottom: 0;
}

.textblock_v8 {
  margin: 64px 0;
}

.textblock_v8 .calccontent__item {
  padding: 24px 24px 32px 24px;
  height: 100%;
    box-shadow: 0 4px 4px 0 rgba(115, 100, 178, 0.1);
  border-radius: 24px;
}

.nowrap {
  white-space: nowrap;
}

.textblock_v8 .tabslider__wrapper {
  flex-wrap: wrap;
}

.textblock_v8 .tabslider__item {
  min-width: 352px;


}
.textblock_v8 .tabslider__item_col2 {
  width: calc(100% / 2);
}

.caclcontent__bigtitle {
  font-weight: 500;
font-size: 30px;
line-height: 67%;
margin-bottom: 16px;
}
.stickysection {
  top: 0;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.stickysection__slides {
  width: 100%;
  height: 100%;
  position: relative;
}

.stickysection__slide {
/*   position: absolute; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background: #ddd;
  transition: opacity 0.5s;
}

.stickysection__slide.active {
  display: flex;
    min-height: 300px;
}

.stickedslides__wrapper {
  
}