.aboutblock_v8 h1 {
  font-weight: 500;
font-size: 38px;
margin-bottom: 24px;
}

.aboutblock_v8 .aboutblock__text p {
  font-weight: 400;
font-size: 20px;
line-height: 120%;
}

.btn_rounded {
  border-radius: 555px;
  height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 48px;
}
.aboutblock_v8 .aboutblock__button {
  margin-top: 56px;
}

.aboutblock_v8 .aboutblock__content {
  align-items: center;
}
.aboutblock_v8 .aboutblock__cols {
  margin-bottom: 0;
}
.textblock_v8_lg {
  margin-bottom: 20px;
  font-weight: 400;
font-size: 26px;
line-height: 131%;
letter-spacing: -0.02em;
}
.textblock_v8 p {
  margin: 0 0 0 0;
}
.textblock_v8_light {
  font-weight: 400;
font-size: 20px;
line-height: 130%;
letter-spacing: -0.02em;
color:#7b7794;
}
.aboutblock_v8 {
  padding-bottom: 0;
}
.aboutblock_v8 .aboutblock__img  {
  margin-bottom: 0;
}

.textblock_v8 {
  margin: 64px 0;
}

.textblock_v8 .calccontent__item {
  padding: 24px 24px 32px 24px;
  height: 100%;
    box-shadow: 0 4px 4px 0 rgba(115, 100, 178, 0.1);
  border-radius: 24px;
}

.nowrap {
  white-space: nowrap;
}

.textblock_v8 .tabslider__wrapper {
  flex-wrap: wrap;
}

.textblock_v8 .tabslider__item {
  min-width: 352px;


}
.textblock_v8 .tabslider__item_col2 {
  width: calc(100% / 2);
}

.caclcontent__bigtitle {
  font-weight: 500;
font-size: 30px;
line-height: 67%;
margin-bottom: 16px;
}
.stickysection {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: sticky;
  margin-top: 0;
  background: #f5f7fa;
  z-index: 3;
  padding-bottom: 88px;
  margin-bottom: 0;
}
.stickysection.stick {
  position: sticky;

}
.stickysection.notsticky {
  position: static;

}

.stickysection__slides {
  width: 100%;
  height: 100%;
  position: relative;
}

.stickysection__slide {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  transition: opacity 0.5s;
}

.stickysection__slide.active {
  display: flex;
    min-height: 300px;
}

.stickedslides__wrapper {
  display: flex;
  gap: 43px;
}


.stickedslides__main {
/*   background-image: url(../img/stickedslides__icon_2.svg);
    background-position: left -73px top -58px;
  background-repeat: no-repeat;
  padding-left: 143px;
  min-height: 92px;
  margin-bottom: 32px; */
}

.stickedslides__main.active  {
/*   background-image: url(../img/stickedslides__icon.svg);
    background-position: left -73px top -58px;
  background-repeat: no-repeat; */

}
.stickedslides__icon {
  position: relative;
  min-width: 121px;
  max-width: 121px;
  height: 72px;
}
.stickedslides__main  {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}
.stickedslides__main img {
  position: absolute;
      max-width: initial;
    left: -71px;
    top: -74px;
}
.stickedslides__main img.colored {
  display: none;
}
.stickedslides__main.active img.colored {
  display: block;
}
.stickedslides__main.active img.default {
  display: none;
}

.stickedslides__title {
  font-weight: 500;
font-size: 16px;
line-height: 125%;
margin-bottom: 12px;
}
.stickedslides__text {
font-weight: 400;
font-size: 16px;
line-height: 125%;
}

.stickedslides__mainblock {

}
.stickedslides__aside {
  max-width: 500px;
  min-width: 500px;
  height: 516px;
    position: relative;
}
.borderblock__title {
  line-height: 127%;
}
.stickedslides__aside img {
  display: none;
  position: absolute;
    left: -131px;
    max-width: initial;
    top: -35px;
}


.stickedslides__aside img.active {
  display: block;
}
.stickysection {
  overflow: visible;
}

.borderblock__subtitle {
  text-align: right;
  font-weight: 400;
font-size: 20px;
margin-bottom: 24px;
}

.svgText__title {
  font-weight: 500;
font-size: 16px;
line-height: 125%;
text-align: right;
fill: #000;
cursor: text;
}

.svgText__text{
  font-weight: 400;
font-size: 16px;
line-height: 125%;
text-align: right;
fill: #7b7794;
cursor: text;
}

.stickysection {
  position: static;
} 

.borderblock__text {
  margin-bottom: 32px;
}

.tabslider__item .calccontent__text {
  min-height: 40px;
}

.infosteps {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.infosteps__main {
  max-width: 632px;
  width: 100%;
  padding-left: 56px;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='334' viewBox='0 0 32 334' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='16' cy='16' r='15' stroke='url(%23paint0_linear_35231_520)' stroke-opacity='0.7' stroke-width='2'/%3e%3cline x1='17' y1='41' x2='17' y2='102' stroke='url(%23paint1_linear_35231_520)' stroke-opacity='0.7' stroke-width='2' stroke-linecap='round' stroke-dasharray='14 14'/%3e%3ccircle cx='16' cy='127' r='15' stroke='url(%23paint2_linear_35231_520)' stroke-opacity='0.7' stroke-width='2'/%3e%3cline x1='17' y1='152' x2='17' y2='252' stroke='url(%23paint3_linear_35231_520)' stroke-opacity='0.7' stroke-width='2' stroke-linecap='round' stroke-dasharray='14 14'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_35231_520' x1='4' y1='4.8125' x2='35.2904' y2='14.8821' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.243349' stop-color='%234563FF'/%3e%3cstop offset='0.913611' stop-color='%23FF0029'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_35231_520' x1='16' y1='40' x2='11.8122' y2='40.2675' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%234563FF'/%3e%3cstop offset='1' stop-color='%23FF0029'/%3e%3c/linearGradient%3e%3clinearGradient id='paint2_linear_35231_520' x1='4' y1='115.813' x2='35.2904' y2='125.882' gradientUnits='userSpaceOnUse'%3e%3cstop offset='0.243349' stop-color='%234563FF'/%3e%3cstop offset='0.913611' stop-color='%23FF0029'/%3e%3c/linearGradient%3e%3clinearGradient id='paint3_linear_35231_520' x1='16' y1='151' x2='11.8017' y2='151.166' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%234563FF'/%3e%3cstop offset='1' stop-color='%23FF0029'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
}

.infosteps__item {
  margin-bottom: 33px;
  font-weight: 400;
font-size: 20px;
line-height: 130%;
letter-spacing: -0.02em;
color: #7b7794;
}

.btn_blue.btn_border {
  font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #0055FF;
box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
border: 2px solid #80aaff;

}
.btn_iconarrow  {
  display: inline-flex;align-items: center;
}
.btn_iconarrow span {
  padding-right: 28px;
  background-position: right center;
  min-height: 24px;
  display: block;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.439 6.50024H9.99999V5.00024H17.9997C18.552 5.00024 18.9997 5.44796 18.9997 6.00024V14H17.4997V7.5609L6.06243 18.9982L5.00177 17.9375L16.439 6.50024Z' fill='%230055FF'/%3e%3c/svg%3e ");
}
svg::selection {
  background: #4563ff; /* Цвет фона при выделении */
}

svg text::selection {
  fill: #fff; /* Цвет текста при выделении, если поддерживается */
}
.textblock_v8 .rsmainslider__image {
  bottom: 0;
  transform: none;
  top: unset;
}
.textblock_v8 .rsmainslider__main {
  max-width: 810px;
}
.textblock_v8 .rsmainslider__name {
  font-size: 30px;
}
.textblock_v8 .rsmainslider__container {
  border-radius: 24px;
}
.textblock_v8 .rsmainslider__wrapper {
  border-radius: 24px;
}

.textblock_v8  .rsmainslider__text p {
  font-size: 20px;
  line-height: 125%;
}

.textblock_v8  .rsmainslider__wrapper {
  padding: 32px;
}

.textblock_v8 .borderblock {
  border-radius: 24px;
  padding: 40px 32px;
}
.textblock_v8 .docblock__content {
  padding: 0;
}
.textblock_v8 .docblock{
  margin: 0 0 32px 0;
  min-height: 72px;
}
.textblock_v8 .docblock:last-child {
  margin-bottom: 0;
}
.textblock_v8 .docblock__content a {
  display: block;
}
.textblock_v8 .cols2 {
  margin: 0;
}
.textblock_v8 .cols2 .cols2__col {
  padding: 0;
}
.textblock_v8 .docblock a:hover .docblock__name {
  text-decoration: none;
}