.aboutblock_v8 h1 {
  font-weight: 500;
font-size: 38px;
margin-bottom: 24px;
}

.aboutblock_v8 .aboutblock__text p {
  font-weight: 400;
font-size: 20px;
line-height: 120%;
}

.btn_rounded {
  border-radius: 555px;
  height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 48px;
}
.aboutblock_v8 .aboutblock__button {
  margin-top: 56px;
}

.aboutblock_v8 .aboutblock__content {
  align-items: center;
}
.aboutblock_v8 .aboutblock__cols {
  margin-bottom: 0;
}
.textblock_v8_lg {
  margin-bottom: 20px;
  font-weight: 400;
font-size: 26px;
line-height: 131%;
letter-spacing: -0.02em;
}
.textblock_v8 p {
  margin: 0 0 0 0;
}
.textblock_v8_light {
  font-weight: 400;
font-size: 20px;
line-height: 130%;
letter-spacing: -0.02em;
color:#7b7794;
}
.aboutblock_v8 {
  padding-bottom: 0;
}
.aboutblock_v8 .aboutblock__img  {
  margin-bottom: 0;
}

.textblock_v8 {
  margin: 64px 0;
}

.textblock_v8 .calccontent__item {
  padding: 24px 24px 32px 24px;
  height: 100%;
    box-shadow: 0 4px 4px 0 rgba(115, 100, 178, 0.1);
  border-radius: 24px;
}

.nowrap {
  white-space: nowrap;
}

.textblock_v8 .tabslider__wrapper {
  flex-wrap: wrap;
}

.textblock_v8 .tabslider__item {
  min-width: 352px;


}
.textblock_v8 .tabslider__item_col2 {
  width: calc(100% / 2);
}

.caclcontent__bigtitle {
  font-weight: 500;
font-size: 30px;
line-height: 67%;
margin-bottom: 16px;
}
.stickysection {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: sticky;
  margin-top: 0;
  background: #f5f7fa;
  z-index: 3;
  padding-bottom: 88px;
  margin-bottom: 0;
}
.stickysection.stick {
  position: sticky;

}
.stickysection.notsticky {
  position: static;

}

.stickysection__slides {
  width: 100%;
  height: 100%;
  position: relative;
}

.stickysection__slide {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  transition: opacity 0.5s;
}

.stickysection__slide.active {
  display: flex;
    min-height: 300px;
}

.stickedslides__wrapper {
  display: flex;
  gap: 43px;
}


.stickedslides__main {
/*   background-image: url(../img/stickedslides__icon_2.svg);
    background-position: left -73px top -58px;
  background-repeat: no-repeat;
  padding-left: 143px;
  min-height: 92px;
  margin-bottom: 32px; */
}

.stickedslides__main.active  {
/*   background-image: url(../img/stickedslides__icon.svg);
    background-position: left -73px top -58px;
  background-repeat: no-repeat; */

}
.stickedslides__icon {
  position: relative;
  min-width: 121px;
  max-width: 121px;
  height: 72px;
}
.stickedslides__main  {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}
.stickedslides__main img {
  position: absolute;
      max-width: initial;
    left: -71px;
    top: -74px;
}
.stickedslides__main img.colored {
  display: none;
}
.stickedslides__main.active img.colored {
  display: block;
}
.stickedslides__main.active img.default {
  display: none;
}

.stickedslides__title {
  font-weight: 500;
font-size: 16px;
line-height: 125%;
margin-bottom: 12px;
}
.stickedslides__text {
font-weight: 400;
font-size: 16px;
line-height: 125%;
}

.stickedslides__mainblock {

}
.stickedslides__aside {
  max-width: 500px;
  min-width: 500px;
  height: 516px;
    position: relative;
}
.borderblock__title {
  line-height: 127%;
}
.stickedslides__aside img {
  display: none;
  position: absolute;
    left: -131px;
    max-width: initial;
    top: -35px;
}


.stickedslides__aside img.active {
  display: block;
}
.stickysection {
  overflow: visible;
}

.borderblock__subtitle {
  text-align: right;
  font-weight: 400;
font-size: 20px;
margin-bottom: 24px;
}

.svgText__title {
  font-weight: 500;
font-size: 16px;
line-height: 125%;
text-align: right;
fill: #000;

}

.svgText__text{
  font-weight: 400;
font-size: 16px;
line-height: 125%;
text-align: right;
fill: #7b7794;

}

.stickysection {
  position: static;
} 

