.radiotype1 .product-item-scu-item-text-container {
    display: inline-block;
    padding-left: 0;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 4px;
    transition: all 0.5s;
}
.radiotype1 .product-item-scu-item-text-block {
    padding-left: 0;
    cursor: pointer;
    margin-bottom: 5px;
    transition: all 0.3s;
    background: none;
    border-radius: 5px;
    border: 1px solid rgba(82, 98, 114, 0.5);
    padding: 9px 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    font-family: 'Gilroy-Medium';
    color: #526272;
    opacity: 0.5;
    display: block;
}

.radiotype1 .product-item-scu-item-text-container.selected .product-item-scu-item-text-block {
    opacity: 1;
    background: #25B757;
    border: 1px solid #25B757;
    color: #fff;
    box-shadow: 0 10px 20px -12px #25B757;
}

.radiotype1 .product-item-scu-item-text-container:hover .product-item-scu-item-text-block {
    background: rgba(37, 183, 87, 0.4);
    border: 1px solid #25B757;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    opacity: 1;
}
.buyblock__quantity .product-item-amount-description-container{
    display: none;
}

.product-item-amount-field-btn-disabled.product-item-amount-field-btn-plus:hover,
.product-item-amount-field-btn-disabled.product-item-amount-field-btn-minus:hover,
.product-item-amount-field-btn-plus:hover,
.product-item-amount-field-btn-minus:hover,
.product-item-amount-field-btn-plus, .product-item-amount-field-btn-minus{
    background-color:transparent;
}

.product-item-amount-field-btn-plus:after, .product-item-amount-field-btn-minus:after{
    top: 8px;
    background-size: 11px;
    opacity: .3 !important;
}
.product-item-amount-field-btn-plus, .product-item-amount-field-btn-minus{
    height: 24px;
    vertical-align: inherit;
}

.producttabs__content .text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #526272;
    opacity: 0.7;
}

.filter__header i.fa{
    display: none!important;
}

.bx-filter .bx-ui-slider-track{
    height: 8px;

    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 222px;
}

.bx-filter .bx-ui-slider-pricebar-vd{
    background: rgba(37,183,87,0.5);
}

.bx-filter .bx-ui-slider-pricebar-vn {
    z-index: 70;
}
.bx-filter .bx-ui-slider-pricebar-v {
    z-index: 80;
}
.bx-filter .bx-ui-slider-range {
    z-index: 90;
}

.bx-filter .bx-ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #25B757;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    top: -7px;
}

.bx-filter .bx-ui-slider-handle.left{
    margin-left: -17px;
}
.bx-filter .bx-ui-slider-handle.right{
    margin-right: -17px;
}

.bx-filter .bx-filter-popup-result{
    margin-right: 10px;
    margin-top: 11px;
}


.sale-personal-section-index-block{
    background:#25B757;
}

.sale-personal-section-index-block-link h2{
    color:#fff;
    text-align: center;
    font-size: 22px;
}

.btn-primary{
    background: #25B757;
    border-color: #25B757;
    border-radius: 5px;
}
.btn-primary:hover {
    background: #20CF5C;
    border-color: #20CF5C;
    color: #FFFFFF;
}
.btn-primary:focus {
    background: #16A246;
    border-color: #16A246;
    color: #FFFFFF;
}
.btn-primary:disabled {
    opacity: 0.5;
    color: #FFFFFF;
}

div.linkgreen-block a {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    border: none;
    display: flex;
    align-items: center;
    color: #25B757;
}

.mainmenu__links > ul > li > div.mainmenu__lvl > span > a{
    color: rgba(82, 98, 114, 0.7);
}
.mainmenu__links > ul > li.active > div.mainmenu__lvl > span > a{
    color: #fff;
}

.mainmenu__content .mainmenu__links > ul{
    margin-left: 0;
}

.productcard__sticker_hit{
    background: #526272;
    min-width: 45px;
}

.btn_filter{
    white-space: nowrap;
    background: #25B757;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0 10px 20px -12px #25b757;
    display: inline-block;
    padding: 10px 18px;
    font-size: 12px;
    border: 1px solid transparent;
    float: left;
}
.btn_filter_clear{
    font-style: normal;
    font-family: 'Gilroy-Medium';
    box-shadow: none;
    color: #25B757;
    border: 1px solid #25B757;
    background: none;
    border-radius: 5px;
    height: 100%;
    padding: 10px 18px;
    font-size: 12px;
    float:right;
}
.bx-filter .bx-filter-block{width:100%; display:block;}

.btn_filter:hover {
    background: #20CF5C;
    color: #FFFFFF;
}
.btn_filter:focus {
    background: #16A246;
    color: #FFFFFF;
}

.popup-window{
    max-width: 619px;
    width: 100%;
    border-radius: 5px;
}
.popup-window-titlebar-text{
    margin-bottom: 36px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #526272;
    opacity: 0.7;
}
.popup-window-content{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 100%;
    color: #526272;
    text-align: center;
}
.popup-window-content p{
    margin: 20px 0px;
}
.btn_basket_close{
    font-style: normal;
    font-size: 16px;
    font-family: 'Gilroy-Medium';
    box-shadow: none;
    color: #25B757;
    padding: 13px 26px;
    display: inline-block;
    border: 1px solid #25B757;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn_go_order{
    background: #25B757;
    border-radius: 5px;
    font-style: normal;
    font-size: 16px;
    box-shadow: 0 10px 20px -12px #25b757;
    display: inline-block;
    text-align: center;
    padding: 16px 28px;
    line-height: 1;
    color: #fff;
    white-space: nowrap;
    font-weight: normal;
    border: 1px solid transparent;
    cursor: pointer;
}
.btn_go_order:hover {
    background: #20CF5C;
    color: #FFFFFF;
}
.btn_go_order:focus {
    background: #16A246;
    color: #FFFFFF;
}
.popup-window-close-icon:after{
    width: 18px;
    height: 18px;
}
.form .hidden{
    display: none;
}
.form #FEEDBACK_FIELD_TITLE{
    background-image: url(./images/input_name.png);
    background-position: left 19px center;
}
.form .has-error input,
.form .has-error textarea{
    border: 1px solid #FF5B5B;
    color: rgba(59, 67, 83, 0.5);
}
.form .has-success input,
.form .has-success textarea{
    border: 1px solid #25B757;
    color: rgba(82, 98, 114, 0.7);
}
.productfitches__link a{
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #4AA5FF;
}
.productfitches__link a:after {
    content: "";
    height: 0;
    position: absolute;
    bottom: -1px;
    left: 0;
    padding: 2px;
    width: 100%;
    border-bottom: 2px dotted rgba(82,98,114, 0.5);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-bottom: 2px dotted #4AA5FF;
}
.productfitches__link a:hover {
    color: #4AA5FF;
}


.form input, .ask-field input, .askaron-reviews-new .ask-captcha input[type="text"] {
	max-width: 327px;
	padding-left: 48px;
	padding-right: 48px;
	background-position: left center;
	background-repeat: no-repeat;
	width: 100%;
	display: block;
	height: 44px;
	line-height: 44px;
	
		background-color: #F8F8F8;
	border: 1px solid #E9E9E9;
	box-sizing: border-box;
	border-radius: 5px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: rgba(59, 67, 83, 0.5);
	}
	
	.form textarea, .ask-field textarea{
		max-width: 327px;
		resize: none;
		background-position: left top 16px;
		background-repeat: no-repeat;
		width: 100%;
		display: block;
		padding: 13px 48px 16px 48px;
	
		background-color: #F8F8F8;
		border: 1px solid #E9E9E9;
		box-sizing: border-box;
		border-radius: 5px;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		color: rgba(59, 67, 83, 0.5);

		line-height: 100%;
		
	}
    .modal .form textarea {
        background-position: left 19px top 16px;
    }
	.askaron-reviews-new .ask-captcha input[type="text"] {
		width: 170px;
	height: 40px;
	line-height: 40px;
	}
	
	.askaron-reviews-new .ask-captcha input[type="text"] {
		height: 44px;
		line-height: 44px;
	}
	
	
	
	.ask-field textarea, .ask-field input, .askaron-reviews-new .ask-captcha input[type="text"] {
		background-color: #fff;
	}
	.bx-soa-item-title a, .bx-soa-editstep {
		    color: #526272;
		text-decoration: none;
		position: relative;
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
	}
	
	.bx-soa-item-title a:hover, .bx-soa-editstep:hover {
		    color:#000000;
		
	}
	
	
	
	a.tfl__link.tfl__link_order {
		
	}
	
	
	
a.tfl__link.tfl__link_order{
	color: #526272;
	text-decoration: none;
	position: relative;
	 -webkit-transition: all 0.4s;
    transition: all 0.4s;
	    text-decoration: none;
    border: none;
}

a.tfl__link.tfl__link_order:hover  {
	color: #526272;
}
a.tfl__link.tfl__link_order:focus, a.tfl__link.tfl__link_order:visited, a.tfl__link.tfl__link_order.active {
	opacity: 0.5;
}



a.tfl__link.tfl__link_order:after {
	content: "";
	height: 0;
	position: absolute;
	bottom: -1px;
	left: 0;
	display: bloc;
	padding: 2px;
	width: 100%;
	border-bottom: 2px dotted rgba(82,98,114, 0.5);	
	 -webkit-transition: all 0.4s;
    transition: all 0.4s;
}


a.tfl__link.tfl__link_order:hover:after {
	width: 50%;
}
a.tfl__link.tfl__link_order:focus:after {
	width: 25%;
}
a.tfl__link.tfl__link_order:visited:after {
	width: 25%;
}
.main-block-text {
	margin-top: 30px;
}
.main-block-text h2 {
	font-size: 18px;
}
.productlist__items {
    justify-content: flex-start;
}
.mainmenu__content {
	z-index: 99;
}
.mainmenu__wrapper.active {
	z-index: 99;
}
.lb-data .lb-number {
    display: none !important;
}

#lightboxOverlay {
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
}

#lightbox {
    position: fixed !important;
    top: 50% !important;
    transform: translateY(-50%);
}

 .main-block-text ul > li {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 15px;
    color: #3B4353;
    opacity: 0.8;
 }
ul {
    margin-left: 30px;
}
.page ul > li {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 15px;
    color: rgba(59, 67, 83, 0.8);
 
 }

.productcard__image {
    padding: 0;
    height: 200px;
}
.bx-section-desc h2 {
        font-size: 26px;
        line-height: 1.2;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    text-align: left;
    color: #3B4353;
    margin-bottom: 7px;
    font-family: 'Gilroy-Bold';
}

productimg__up svg {
    transform: rotate(-90deg);
    height: 26px;width: 26px;
}

.productimg__down svg {
    transform: rotate(90deg);
    height: 26px;width: 26px;
}

.productimg__up svg path {
    fill: #000;
}

.productimg__down svg path {
   fill: #000;
}
.productimg__up svg {
    transform: rotate(
-90deg);
    height: 26px;
    width: 26px;
}
.productimg_container {
    overflow: visible;
}
.productimg__up {
position: absolute;
top: -23px;
text-align: center;
left: 0;
right: 0;
width: 100%;
cursor: pointer;
    z-index: 3;
}
.productimg__down {
position: absolute;
bottom: -23px;
text-align: center;
left: 0;
right: 0;
width: 100%;
cursor: pointer;
    z-index: 3;
}
.productimg__prev video, .productimg__prev iframe {
    max-width: 150px;
    max-height: 150px;
    display: block;
}

.form__input_center input {
    margin: 20px auto;
}
.modal__title {
    margin-bottom: 20px;
}
.productimg__preview_video .productimg__prev img {
    max-width: 100%;
    max-height: 100%;
}
.productimg__img_video {
    display: none !important;
}

.statsblock {
    background: #F8F8F8;
    padding: 73px 0;
    margin: 30px 0;
  }
  
  .container {}
  
  .stats {
      margin: 30px 0;
  }
  
  .stats__items {
    display: flex;
    margin: 0 -17px;
  }
  
  .stats__item {
    padding: 0 17px;
    width: 25%;
  }
  
  .stats__content {
    width: 100%;
  }
  
  .stats__number {
    font-style: normal;
    font-size: 58px;
    line-height: 100%;
    color: #25B757;
    margin-bottom: 12px;
    font-weight: 700;
  }
  
  .stats__text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */
    font-weight: 700;
  
    color: #323232;
  }
  
  .stats__text br {
    display: none;
  }

  .partners__img {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners__img img {
    max-height: 100%;
}
.partners {
    position: relative;
    padding: 50px 30px;
}
.partners .productslider__arrows > div {
    background: #efefef;
}

@media (min-width: 1000px) {
    .productlist__item {
        width: 20%;
    }
    
}
@media (max-width: 1023px) {
    .productimg__img_video {
        display: block !important;
    }
    .partners__img {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }.productslider__arrows {
      
        margin-bottom: 19px;
    }
    .partners {
        padding: 0 0 30px 0;
    }
    
}
@media (min-width: 720px) {
.catalogpage__aside {
    display: none;
}
.catalogpage__main {
    width: 100%;
    margin-left: 0;
}

}

@media (max-width: 1023px) {
    
.productimg__img img {
    display: block;
    max-height: 100%;
    position: absolute;
    left: 0;
    text-align: 0;
    top: 0;
    margin: auto;
    right: 0;
}

    .stats__item {
        width: 50%;
        margin-bottom: 28px;
      }
    
      .seotext_image .text p {
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
      }
    
      .stats__items {
        flex-wrap: wrap;
      }
    
      .stats__number {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        margin-bottom: 8px;
      }
    
      .stats__text {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
      }
}
@media (max-width: 767px) {
    .main-block-text ul > li {
    font-size: 12px;
    }
    .page ul > li {
          font-size: 12px;     
     }
     .productcard__image {
    height: 87px;
}

	.icblock__tel {
		width: 100%;
		max-width: 100%;
	}
	.popup-window-buttons span {
		margin: 5px;
	}
	
}
	.bx-soa-coupon {
    display: none;
}
.footer__dev {
margin-left: 30px;}
.fdev__title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    display: block;
    margin-bottom: 3px;
    color: #fff; }
.footer_flex {display:flex; justify-content:space-between;}
.producttabs__content > h2 {display:none;}
@media (max-width: 767px) { .footer__dev {
		margin-left: auto; margin-right: auto; margin-top: 20px} .footer_flex{flex-wrap: wrap;}
.producttabs__content > h2 {display:block;}
}